:root {
    --cor-de-fundo: #31313B;
    --icones: #5c626a;
    --titulo: #FCFBFC;
    --background-elementos: #23232e;
    --cor-cartao-light: #61aba4;
    --cor-cartao-dark: #4a958d;
}

* {
    font-family: 'Roboto', sans-serif;;
}

body {
    background-color: var(--cor-de-fundo);
}

main {
    display: flex;
    margin: 10px;
    background-color: #181822;
    border: solid transparent;
    border-radius: 20px;
    padding: 20px;
}

/* HEADER */
header {
    display: flex;
}

header img {
    width: 16px;
}

header i {
    color: var(--icones);
}

.texto-header-titulo {
    margin-right: 30px;
}

.titulo {
    margin-top: 10px;
    color: var(--titulo);
    font-weight: 700;
    font-size: 26px;
}

.subtitulo {
    color: var(--icones);
    font-size: 10px;
}

.input-busca {
    border: transparent solid;
    border-radius: 20px;
    background-color: var(--background-elementos);
    padding: 5px 10px;
    font-size: 10px;
    margin-top: 10px;
}

.icones-contas {
    margin-top: 10px;
    margin-left: 120px; 
}

.icones-contas i {
    padding: 0 3px;
}

.icones-contas i:last-child {
    font-size: 8px;
}

/* NAVBAR */
nav {
    height: 100vh;
    padding: 0 20px 0 0;
}

.mini-btns {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}

.btn-vermelho,
.btn-amarelo,
.btn-verde {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    margin: 0 2px;
}

.btn-vermelho {
    background-color: red;
}

.btn-amarelo {
    background-color: yellow;
}

.btn-verde {
    background-color: green;
}

.icones i {
    color: var(--icones);
    display: block;
    margin: 20px 0 0 0;
    text-align: center;
    font-size: 15px; 
}

/* ASIDE */
aside {
    height: 80vh;
}

.cartao {
    background-image: linear-gradient(to top right, #61aba4, #4a958d);
    padding: 10px;
    border: transparent solid;
    border-radius: 20px;
}

aside img {
    height: 16px;
}